.canvasContainer {
  width: 400px;
}

.canvasWrapper {
  position: relative;
  width: 100%;
  height: 400px;
  background-image: url('/images/background.jpg');
  background-repeat: repeat;
}

.canvasBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  opacity: 0.1;
}

.canvas {
  width: 100%;
  height: 100%;
  position: relative;
}

.description {
  position: absolute;
  bottom: 0;
  padding: 0 1em;
  font-family: monospace;
  color: #786745
}

.description span {
  color: #333
}

.symbol {
  writing-mode: vertical-lr;
}

.buttons {
  display: flex;
  margin-top: 1em;
}

.buttonWarning {
  color: darkred;
}

.buttonAction {
  color: darkblue;
}

.button + .button {
  margin-left: 1em;
}

.message {}

.messageSuccess {
  color: green;
}

.messageWarning {
  color: darkred;
}